.main
  .head
  
    .group-member
      .group-member__group{data: {group: {id: @group.id}}}
        = @group.name
      .group-member__member
        member :
        .group-member__member__person
          - @group.users.each do |user|
            = user.name
  
    .edit
    = link_to edit_group_path(@group), class: "edit-btn" do
      edit 
  .chat
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'      

