.sidebar
  .head
    .head__box
      .head__box__user
        user
      .head__box__icon
        = link_to "#", class: "head__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "head__btn" do
          = icon("fas", "cog")
        
  .body
    = link_to "#", class: "body__content__link" do
      .body__content
        .body__content__group
          group
        .body__content__user
          group-user