.sidebar
  .sidebar__head
    .sidebar__head__box
      .sidebar__head__box__user
        user
      .sidebar__head__box__icon
        = link_to "#", class: "sidebar__head__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "sidebar__head__btn" do
          = icon("fas", "cog")
        
  .sidebar__body
    = link_to "#", class: "sidebar__body__content__link" do
      .sidebar__body__content
        .sidebar__body__content__group
          group
        .sidebar__body__content__user
          group-user