.sidebar
  .head
    .head__block
      .head__block__user
        = current_user.name
      .head__block__icon
        = link_to new_group_path , class: "head__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "head__btn" do
          = icon("fas", "cog")
        
  .body
    - current_user.groups.each do |group|
      .body__content
        = link_to group_messages_path(group) do
          .body__content__group
            = group.name
          .body__content__user
            = group.show_last_message